/* ============================
   Ввод
=========================== */
input {
    width: 90%;
    padding: 12px;
    margin: 10px 0px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 14px;
}

/* ============================
   Кнопки
=========================== */
button {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    background: linear-gradient(to right, #6a11cb, #2575fc);
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s;
}

button:hover {
    background: linear-gradient(to right, #2575fc, #6a11cb);
    transform: scale(1.05);
}

/* ============================
   Ошибки и успехи
=========================== */
.error, .success {
    margin-top: 10px;
    padding: 12px;
    border-radius: 8px;
    font-size: 14px;
}

.error {
    background: #fce4e4;
    color: #d8000c;
    border: 1px solid #d8000c;
}

.success {
    background: #d4edda;
    color: #155724;
    border: 1px solid #155724;
}

.hidden {
    display: none; /* Полностью скрывает элемент */
}